# ----------------------
# Flask
# ----------------------
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2

# ----------------------
# Production Server
# ----------------------


# VueJS
Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
Werkzeug==0.14.1
Flask-Bcrypt
Mako
PyJWT
alembic
argparse
bcrypt
cffi
pycparser
python-dateutil
python-editor
six==1.11.0
Flask-JWT
