body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px;
  grid-gap: 20px;
  padding: 10px;
  list-style: none;
  justify-items: center;
  align-items: center;
}

.grid-contain {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px;
  grid-gap: 20px;
  padding: 10px;
  list-style: none;
}

.centre {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#item {
    background-color: rgba(255, 255, 255, 0.8);
    border-style: double;
  border-width: thick;
    padding: 20px;
    font-size: 15;
    border-color: #5E7FD8;
    
}

#title{
    font-style: bold;
    color: #5E7FD8;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: thin;
  border-color: grey;
}


.button-wrapper{
    margin: auto;
    width: 90%; 
    height: 80%; 
    padding-top: 40px;
}

.small-size{
    width: 30px;
    height: 30px;
}

.form-register {
    margin: auto;
    width: 100%;
    /*border: 2px solid #a6a7a8;*/
    padding: 10px;
}

h2 {
    text-align: left;
}

.form {
    margin: auto;
    width: 50%;
    border: 2px solid #a6a7a8;
    padding: 10px;
}

.coffee-container{
    text-align: center;
    margin: 15% 0%;
}

.coffee-container-child{
    float: left;
    width: 100%;
}

.float-clear{
    clear: both;
}

#coffee-img{
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    height: 77%;
}

.card-body #submit{
    width: 100%;
    height: 80%;
    margin-top: 13%;
}

.card{
    width: 25rem;
    /*height: 18rem;*/
    box-shadow: 0.5px 0.5px 10px grey;
    border-radius: 2px;
    padding: 24px
}

.card-header{
    width: 25rem;
    border: none;
    background: transparent;
    padding-left:0;
}

.home {
    margin: auto;
    width: 80%;
}

.inbl {
    display: inline-block;
    width: 350px;
    height: 200px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #a6a7a8; 
    float: left;
}
#inbl1 {
    display: inline-block;
    float: left;
    margin: auto;  
    position: absolute;
    left: 0;
    right: 0;
    top: 155px;
    bottom: 0;
}
#floaty{
    
}
#spesh {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 350px;
    height: 200px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #a6a7a8; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    
}

.jumbotron{
    background-color: white;
    width:30em;
    height: inherit;

}

.postuserphoto{
    padding-left:5%; 
    width:12%; 
    height:12%
}

.shadow {
    box-shadow: 5px 5px 25px #888888;
}

.followbutton{
  padding-left:30%;
}

.displayphoto{
    width:10em;
    height:10em;
}

.postphotos{
    width:300px;
    height:300px;
}

#links {
    float: right;
}

footer
{
    clear: both;
}

#gram {
    font-family: 'Lobster', cursive;
}
.postimages{
    width:100%; 
    height:100%;
}

#newpost {
    float: right;
}
#logout {
    margin: auto;
}


