body {
    padding-top: 5rem;
}

#image
{
    padding: 15px;
    float: left;
    width: 20%;
    height:180px;
}

#btn{
    background-color: green;
    border-color: green;
}

#icon{
    width: 3.5%;
    height: 3.5%;
    padding: 5px;
}

.info{
    text-align: left;
    margin-top: 50px;
    color: lightgrey;
    font-weight: bold;
}

body{
    background-color: lightblue;
}

span.name{
    font-weight: bold;
    color: black;
}

#view_button{
    background-color:  #4CAF50;
    border-color:  #4CAF50;
    padding: 10px;
    width: 300px;
}
.view_btn{
    float: right;
    vertical-align: middle;
    margin-right: 150px;
    padding: 20px;
}

top{
color: blue;
border: solid 2px;
}

div.profile{
    padding-bottom: 80px;
    background-color: white;
}

#profile_img
{
    position: relative;
    padding: 15px;
    float: left;
    width: 45%;
    height:225px;
}

#line{
color: grey;    
}

.info{
    text-align: left;
    margin-top: 50px;
    color: black;
    font-weight: bold;
}

body{
    background-color: lightblue;
}

.top{
color: blue;
border: solid 2px;
}

div.profileuser{
    overflow: auto;
    margin: auto;
    width: 700px;
    height: 50%;
    background-color: white;
    border-top: solid 4px blue;
}

.bio{
    margin-left: 15px;
    color: grey;
}

#icon{
    width: 5%;
    height: 5%;
    padding: 5px;
}

.button{
    text-align: center;
    padding: 15px;
}

#btn1{
    background-color:  #4CAF50;
    color: white;
    border-radius: 10%;
    margin-left: 50px;
    width: 150px;
}

#btn2{
    background-color: DodgerBlue;
    color: white;
    border-radius: 10%;
    margin-left: 50px;
    width: 150px;
}

div.profileform{
    overflow: auto;
    margin: auto;
    width: 700px;
    height: 50%;
    padding: 30px;
    background-color: white;
    border-top: solid 4px blue;
}

h1.move {
    text-align: center;
    padding-right: 500px;
    padding-bottom: 20px;
}

#profile_button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  font-size: 15px;
}

body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px;
  grid-gap: 20px;
  padding: 10px;
  list-style: none;
  justify-items: center;
  align-items: center;
}

.grid-contain {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px;
  grid-gap: 20px;
  padding: 10px;
  list-style: none;
}

.centre {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#item {
    background-color: rgba(255, 255, 255, 0.8);
    border-style: double;
  border-width: thick;
    padding: 20px;
    font-size: 15;
    border-color: #5E7FD8;
    
}

#title{
    font-style: bold;
    color: #5E7FD8;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: thin;
  border-color: grey;
}


.button-wrapper{
    margin: auto;
    width: 90%; 
    height: 80%; 
    padding-top: 40px;
}